body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f4f6;
}

.container {
  width: 400px;
  margin: 80px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px lightgray;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background: royalblue;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background: darkblue;
}

pre {
  text-align: left;
  background: #eee;
  padding: 10px;
}